[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	s = status
	d = diff
	c = commit
	b = branch
	co = checkout
	ff = merge --ff-only
	fa = fetch --all
[branch]
	autosetuprebase = always
[merge]
	tool = xxdiff
[core]
	quotepath = false
[user]
	name = 
[push]
	default = upstream
