[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	s = status -sb
	d = diff
	ds = diff --staged
        daily = "!if [ 1 == $(date +%u) ]; then SINCE='last friday'; else SINCE=yesterday; fi; git log --author=erdelyi --since \"$SINCE\""
	c = commit
	b = branch
	co = checkout
	ff = merge --ff-only
	fa = fetch --all
	fu = fetch upstream
	up = !git fetch upstream && git rebase --autostash upstream/master

[branch]
	autosetuprebase = always

[mergetool.ediff]
    cmd = NO_DESKTOP_SAVE_MODE=1 /Applications/Emacs.app/Contents/MacOS/Emacs --eval \" \
(progn \
  (setq ediff-quit-hook 'kill-emacs) \
  (if (file-readable-p \\\"$BASE\\\") \
      (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
                                       \\\"$BASE\\\" nil \\\"$MERGED\\\") \
      (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"

[merge]
       tool = ediff
[core]
	quotepath = false
[push]
	default = current
[mergetool]
	keepBackup = false
